body
{
    background-image:url('../Images/Index.png');  
    width:auto;
    margin: 0px;
    padding: 0px;
}

#form1
{
       position: relative;
       width: auto;
       height: auto;
       margin-left: 24%;
}

#header
{
    width: 900px;
    height: 200px;
    background-color:Black;
}
#header .logo
{
  
   background-image: url('../Images/Log.png');
   background-position: right top;
    width: 900px;
    height: 172px;
 
   
    
  }
  
  #menu
  {
    float:left;
	width:900px;
	background:#9955aa;
	font-size:200%;
	
	line-height:normal;
	border-bottom:1px solid Black;
	}
	
	
#menu ul 
{
    float:right;
	margin:700px;
	padding:10px 10px 0 50px;
	list-style:none;
	
	
	}
	
#menu li 
{
    float:right;
	display:inline;
	margin:0;
	padding:0;
	
	}
#menu a {
	float:right;
	background:url('../Images/tableftF.gif') no-repeat left top;
	margin:40;
	padding:0 0 0 4px;
	text-decoration:White;
	color:White;
	
	}
#menu a span {
	
	display:block;
	background:url('../Images/tabrightF.gif') no-repeat right top;
	
	padding:5px 15px 4px 6px;
	color:White;
	}
	


#wrapper
{
background-color: White;
width:875px;
height:auto;
padding:10px;
padding-bottom: 40px;
border:2px solid purple;
margin-top: 20px;

}

div.img
  {
  margin:1px;
  border: 2px solid Black;
  height:auto;
  min-height: 220px;
  width:auto;
  padding-top:10px;
  
  }
  
div.img img
  {
  display:inline;
  margin:10px;
  border:1px solid #ffffff;
 
    }
div.img a:hover img
  {
  border:1px solid block;
  }
div.desc
  {
 
  font-weight:normal;
  height:auto;
  width:auto;
  margin-left:230px;
  padding-right:10px;
  padding-top:10px;
  }

h1
{
color:Black;
text-align:left;



}

h2
{
 font-size: 130%; 
 padding-top:20px;
}

p1
{
    font-size:105%;
    padding-bottom: 20px;
}

p2
{
    font-size: 110%;
    float:left;
    margin:20px;
    padding-bottom:20px;
    
}